[submodule "references/sprocket"]
	path = references/sprocket
	url = https://github.com/excamera/pipeline.git
[submodule "references/Intel-HiBench"]
	path = references/Intel-HiBench
	url = https://github.com/Intel-bigdata/HiBench.git
[submodule "references/carbon-aware-scheduler"]
	path = references/carbon-aware-scheduler
	url = git@bitbucket.org:nilyibo/carbon-aware-scheduler.git
[submodule "scripts/docker/images/facebook-tao/taobench"]
	path = scripts/docker/images/facebook-tao/taobench
	url = https://github.com/audreyccheng/taobench.git
[submodule "scripts/docker/images/carboncast/carboncast"]
	path = scripts/docker/images/carboncast/carboncast
	url = https://github.com/carbonfirst/CarbonCast.git
[submodule "references/alibada-clusterdata"]
	path = references/alibada-clusterdata
	url = https://github.com/alibaba/clusterdata.git
[submodule "references/cidt-public-clouds"]
	path = references/cidt-public-clouds
	url = git@github.com:c3lab-net/cidt-public-clouds.git
